<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMyHealth">
        <activity
            android:name=".ui.auth.doctor.DoctorApprovedListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.doctor.DoctorSignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.user.UserAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.user.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.doctor.DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.user.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.user.UserSignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.doctor.DoctorLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.user.UserLoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RoleSelectActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>